<section class="products">
  <header class="header">
    <div class="logo">
      <img src="assets/logo.png" alt="Tools.com Logo" class="logo-img">
    </div>
    <h1 class="shop-name">SRI VINAYAGA TOOLS AND TRADERS</h1>
    <nav class="nav">
      <a href="#about-us">About Us</a>
      <a href="#contact" id="contact-link">Contacts</a>
    </nav>
  </header>
  
  <section class="hero">
    <div>
      <img src="assets/logo3.png" alt="Tools.com Logo" class="logo2-img">
      <h1>Store for Machinery Hardware</h1>
    </div>
    <p>Shopping with joy</p>
    <input type="text" placeholder="Search..." class="search-bar">
  </section>
  
  <section id="about-us" class="about-us">
    <h2>About Us</h2>
    <p>
      Welcome to SRI VINAYAGA TOOLS AND TRADERS! We specialize in providing high-quality machinery hardware, tools, and industrial supplies. 
      With years of experience, we are dedicated to serving our customers with the best products and services to meet their needs.
    </p>
    <p>
      Our mission is to deliver excellence through quality, reliability, and customer satisfaction. 
      Thank you for choosing us as your trusted partner for all your hardware needs!
    </p>
  </section>
  
  <section id="contact" class="contact">
    <h2>Contact Us</h2>
      <p><strong>Address:</strong> 222/2,Sidco Main Road, Pazhathandalam Road
        Thirumudivakkam,
        Chennai - 600132</p>
      <a href="https://maps.app.goo.gl/Mn7BXFCiThAYaFb59">LOCATION</a>
      <p><strong>Phone:</strong> +91 9380808068</p>
      <p><strong>Email:</strong> <a href="mailto:svtt8080&amp;#64;gmail.com">svtt8080gmail.com</a></p>
      <p><strong>Working Hours:</strong> Mon-Sat: 8:00 AM - 8:00 PM</p>
  </section>
  

  <app-slideshow> </app-slideshow>


  <section class="products">
    <h2>Products :</h2>
    <h2>Bolts</h2>
    <div class="product-grid">
      <div class="product-card" (click)="showDetails('TVS Allen bolt', 'assets/product1.jpg')">
        <img src="assets/product1.jpg" alt="TVS Allen bolt">
        <p>TVS Allen bolt</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('Grub bolt', 'assets/product23.jpg')">
        <img src="assets/product23.jpg" alt="Grub bolt">
        <p>Grub bolt</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('CSK bolt', 'assets/product24.jpg')">
        <img src="assets/product24.jpg" alt="CSK bolt">
        <p>CSK bolt</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('SS Allen bolt', 'assets/product25.jpg')">
        <img src="assets/product25.jpg" alt="SS Allen bolt">
        <p>SS Allen bolt</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('SS CSK bolt', 'assets/product26.jpg')">
        <img src="assets/product26.jpg" alt="SS CSK bolt">
        <p>SS CSK bolt</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('MS Bolt', 'assets/product27.jpg')">
        <img src="assets/product27.jpg" alt="MS Bolt">
        <p>MS Bolt</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('SS bolt', 'assets/product28.jpg')">
        <img src="assets/product28.jpg" alt="SS bolt">
        <p>SS bolt</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('TVS Bolt', 'assets/product29.jpg')">
        <img src="assets/product29.jpg" alt="TVS Bolt">
        <p>TVS Bolt</p>
        <button class="details-btn">See Details</button>
      </div>
    </div>
  
    <h2>Welding Items</h2>
    <div class="product-grid">
      <div class="product-card" (click)="showDetails('Welding Machine', 'assets/product9.jpg')">
        <img src="assets/product9.jpg" alt="Welding Machine">
        <p>Welding Machine</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('Welding Rod', 'assets/product2.jpg')">
        <img src="assets/product2.jpg" alt="Welding Rod">
        <p>Welding Rod</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('CO2 coil', 'assets/product3.jpg')">
        <img src="assets/product3.jpg" alt="CO2 coil">
        <p>CO2 coil</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('Welding Goggles', 'assets/product13.jpg')">
        <img src="assets/product13.jpg" alt="Welding Goggles">
        <p>Welding Goggles</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('Welding Shield Glass', 'assets/product12.jpg')">
        <img src="assets/product12.jpg" alt="Welding Shield Glass">
        <p>Welding Shield Glass</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('Welding Shield Helmet', 'assets/product30.jpg')">
        <img src="assets/product30.jpg" alt="Welding Shield Helmet">
        <p>Welding Shield Helmet</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('Welding Holder', 'assets/product31.jpg')">
        <img src="assets/product31.jpg" alt="Welding Holder">
        <p>Welding Holder</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('Welding Torch', 'assets/product46.jpg')">
        <img src="assets/product46.jpg" alt="Welding Torch">
        <p>Welding Torch</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('Welding Cable', 'assets/product47.jpg')">
        <img src="assets/product47.jpg" alt="Welding Cable">
        <p>Welding Cable</p>
        <button class="details-btn">See Details</button>
      </div>
    </div>
  
    <h2>Wheels</h2>
    <div class="product-grid">
      <div class="product-card" (click)="showDetails('Cutting Wheel', 'assets/product32.jpg')">
        <img src="assets/product32.jpg" alt="Cutting Wheel">
        <p>Cutting Wheel</p>
        <p>AG4,AG5,AG7,AG14</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('Grinding wheel', 'assets/product33.jpg')">
        <img src="assets/product33.jpg" alt="Grinding wheel">
        <p>Grinding wheel</p>
        <p>AG4,AG5,AG7</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('polishing wheel', 'assets/product34.jpg')">
        <img src="assets/product34.jpg" alt="polishing wheel">
        <p>polishing wheel</p>
        <button class="details-btn">See Details</button>
      </div>
      <div class="product-card" (click)="showDetails('Falp dics', 'assets/product35.jpg')">
        <img src="assets/product35.jpg" alt="Falp dics-36,60,80,120">
        <p>Falp dics-36,60,80</p>
      </div>

      <div class="product-card" (click)="showDetails('Emery Flap wheel', 'assets/product36.jpg')">
        <img src="assets/product36.jpg" alt="Emery Flap wheel">
        <p>Emery Flap wheel</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('Emery wheel', 'assets/product37.jpg')">
        <img src="assets/product37.jpg" alt="Emery wheel">
        <p>Emery wheel</p>
        <button class="details-btn">See Details</button>
      </div>
      
      <div class="product-card" (click)="showDetails('bench grinding Wheel', 'assets/product38.jpg')">
        <img src="assets/product38.jpg" alt="bench grinding Wheel">
        <p>bench grinding Wheel</p>
        <button class="details-btn">See Details</button>
      </div>
      
      <div class="product-card" (click)="showDetails('SS Grinding Wheel', 'assets/product48.jpg')">
        <img src="assets/product48.jpg" alt="SS Grinding Wheel">
        <p>SS Grinding Wheel</p>
        <button class="details-btn">See Details</button>
      </div>
      
      <div class="product-card" (click)="showDetails('Surface Grinding Wheel', 'assets/product49.jpg')">
        <img src="assets/product49.jpg" alt="Surface Grinding Wheel">
        <p>Surface Grinding Wheel</p>
        <button class="details-btn">See Details</button>
      </div>
      
      <div class="product-card" (click)="showDetails('Zirkon', 'assets/product50.jpg')">
        <img src="assets/product50.jpg" alt="Zirkon">
        <p>Zirkon</p>
        <button class="details-btn">See Details</button>
      </div>
      
      <div class="product-card" (click)="showDetails('Surface Cutting Wheel', 'assets/product51.jpg')">
        <img src="assets/product51.jpg" alt="Surface Cutting Wheel">
        <p>Surface Cutting Wheel</p>
        <button class="details-btn">See Details</button>
      </div>
      
      <div class="product-card" (click)="showDetails('Wood Cutting wheel', 'assets/product52.jpg')">
        <img src="assets/product52.jpg" alt="Wood Cutting wheel">
        <p>Wood Cutting wheel</p>
        <button class="details-btn">See Details</button>
      </div>
      
      <div class="product-card" (click)="showDetails('Cloth Wheel', 'assets/product53.jpg')">
        <img src="assets/product53.jpg" alt="Cloth Wheel">
        <p>Cloth Wheel</p>
        <button class="details-btn">See Details</button>
      </div>
    </div>  


    <h2>Taps Drills</h2>
    <div class="product-grid">
      <div class="product-card" (click)="showDetails('Drill bit', 'assets/product8.jpg')">
        <img src="assets/product8.jpg" alt="Drill bit">
        <p>Drill bit</p>
        <p>0.5 to 22 mm</p>
        <button class="details-btn">See Details</button>
      </div>
      
      <div class="product-card" (click)="showDetails('Hand Tap', 'assets/product39.jpg')">
        <img src="assets/product39.jpg" alt="Hand Tap">
        <p>Hand Tap</p>
        <button class="details-btn">See Details</button>
      </div>
      
      <div class="product-card" (click)="showDetails('Machine Tap', 'assets/product40.jpg')">
        <img src="assets/product40.jpg" alt="Machine Tap">
        <p>Machine Tap</p>
        <button class="details-btn">See Details</button>
      </div>
      
      <div class="product-card" (click)="showDetails('Spiral Tap', 'assets/product41.jpg')">
        <img src="assets/product41.jpg" alt="Spiral Tap">
        <p>Spiral Tap</p>
        <button class="details-btn">See Details</button>
      </div>

      <div class="product-card" (click)="showDetails('Hand Tap', 'assets/product39.jpg')">
        <img src="assets/product39.jpg" alt="Hand Tap">
        <p>Hand Tap</p>
        <button class="details-btn">See Details</button>
      </div>
      
      <div class="product-card" (click)="showDetails('Machine Tap', 'assets/product40.jpg')">
        <img src="assets/product40.jpg" alt="Machine Tap">
        <p>Machine Tap</p>
        <button class="details-btn">See Details</button>
      </div>
      
      <div class="product-card" (click)="showDetails('Spiral Tap', 'assets/product41.jpg')">
        <img src="assets/product41.jpg" alt="Spiral Tap">
        <p>Spiral Tap</p>
        <button class="details-btn">See Details</button>
      </div>
      
    </div>


    <h2>Hose and Hose adaptor</h2>
    <div class="product-grid">
      <div class="product-card" (click)="showDetails('Air Hose', 'assets/product5.jpg')">
        <img src="assets/product5.jpg" alt="Air Hose">
        <p>Air Hose</p>
        <p>6,8,10,12 mm</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('Air Gun', 'assets/product42.jpg')">
        <img src="assets/product42.jpg" alt="Air Gun">
        <p>Air Gun</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('PU Male Adaptor', 'assets/product43.jpg')">
        <img src="assets/product43.jpg" alt="PU Male Adaptor">
        <p>PU Male Adaptor</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('PU Female Adaptor', 'assets/product44.jpg')">
        <img src="assets/product44.jpg" alt="PU Female Adaptor">
        <p>PU Female Adaptor</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('PU Straight', 'assets/product45.jpg')">
        <img src="assets/product45.jpg" alt="PU Straight">
        <p>PU Thread 'L'Bow</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('PU Thread \'L\'Bow', 'assets/product54.jpg')">
        <img src="assets/product54.jpg" alt="PU Thread 'L'Bow">
        <p>PU Straight</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('bench grinding Wheel', 'assets/product55.jpg')">
        <img src="assets/product55.jpg" alt="bench grinding Wheel">
        <p>bench grinding Wheel</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('pending', 'assets/product0.jpg')">
        <img src="assets/product0.jpg" alt="pending">
        <p>pending</p>
        <button class="details-btn">See Details</button>
      </div>
    </div>
    


    <div class="product-grid">
      <div class="product-card" (click)="showDetails('Bearings', 'assets/product7.jpg')">
        <img src="assets/product7.jpg" alt="Bearings">
        <p>Bearings</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('Drill bit', 'assets/product0.jpg')">
        <img src="assets/product0.jpg" alt="Drill bit">
        <p>Drill bit</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('Welding Machine', 'assets/product0.jpg')">
        <img src="assets/product0.jpg" alt="Welding Machine">
        <p>Welding Machine</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('cutting and Grinding machines', 'assets/product10.jpg')">
        <img src="assets/product10.jpg" alt="cutting and Grinding machines">
        <p>cutting and Grinding machines</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('Wheels', 'assets/product11.jpg')">
        <img src="assets/product11.jpg" alt="Wheels">
        <p>Wheels</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('Welding Shield Glass', 'assets/product0.jpg')">
        <img src="assets/product0.jpg" alt="Welding Shield Glass">
        <p>Welding Shield Glass</p>
        <button class="details-btn">See Details</button>
      </div>
    </div>
    
    <div class="product-grid">
      <div class="product-card" (click)="showDetails('Welding Goggles', 'assets/product0.jpg')">
        <img src="assets/product0.jpg" alt="Welding Goggles">
        <p>Welding Goggles</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('CO2 and O2 Regulator', 'assets/product14.jpg')">
        <img src="assets/product14.jpg" alt="CO2 and O2 Regulator">
        <p>CO2 and O2 Regulator</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('Tools', 'assets/product15.jpg')">
        <img src="assets/product15.jpg" alt="Tools">
        <p>Tools</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('Safety Shoe', 'assets/product16.jpg')">
        <img src="assets/product16.jpg" alt="Safety Shoe">
        <p>Safety Shoe</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('MS Bolt Nut Washer', 'assets/product17.jpg')">
        <img src="assets/product17.jpg" alt="MS Bolt Nut Washer">
        <p>MS Bolt Nut Washer</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('SS Bolt Nut Washer', 'assets/product18.jpg')">
        <img src="assets/product18.jpg" alt="SS Bolt Nut Washer">
        <p>SS Bolt Nut Washer</p>
        <button class="details-btn">See Details</button>
      </div>
    </div>
    
    <div class="product-grid">
      <div class="product-card" (click)="showDetails('Self Drilling Screw', 'assets/product19.jpg')">
        <img src="assets/product19.jpg" alt="Self Drilling Screw">
        <p>Self Drilling Screw</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('Thread Rod (MS, SS)', 'assets/product20.jpg')">
        <img src="assets/product20.jpg" alt="Thread Rod (MS, SS)">
        <p>Thread Rod (MS, SS)</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('Spray paint', 'assets/product21.jpg')">
        <img src="assets/product21.jpg" alt="Spray paint">
        <p>Spray paint</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('Bandsaw Blade', 'assets/product22.jpg')">
        <img src="assets/product22.jpg" alt="Bandsaw Blade">
        <p>Bandsaw Blade</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('Welding Rod', 'assets/product0.jpg')">
        <img src="assets/product0.jpg" alt="Welding Rod">
        <p>Welding Rod</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('Co2 coil', 'assets/product0.jpg')">
        <img src="assets/product0.jpg" alt="Co2 coil">
        <p>Co2 coil</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('Belt', 'assets/product4.jpg')">
        <img src="assets/product4.jpg" alt="Belt">
        <p>Belt</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('Air hose', 'assets/product0.jpg')">
        <img src="assets/product0.jpg" alt="Air hose">
        <p>Air hose</p>
        <button class="details-btn">See Details</button>
      </div>
    
      <div class="product-card" (click)="showDetails('Glouse', 'assets/product6.jpg')">
        <img src="assets/product6.jpg" alt="Glouse">
        <p>Glouse</p>
        <button class="details-btn">See Details</button>
      </div>
    </div>
  </section>
</section>

<div *ngIf="modalVisible" class="modal" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span (click)="closeModal()" class="close-btn">&times;</span>
    <img [src]="modalImageUrl" alt="Product Image">
    <p>{{ modalDescription }}</p>
  </div>
</div>




